@font-face {
    font-family: 'poppin';
    src: url('font/Poppins-Light.ttf');
}

.header-title {
    font-family: poppin;
}

.header-undertitle {
    font-family: poppin;
}

.drone {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    margin-top: 300px;
}

.drone img {
    width: 40rem;
    z-index: 2;
}

.dot {
    position: absolute;
    height: 550px;
    width: 550px;
    background-color: #80aad0;
    border-radius: 50%;
    display: inline-block;
}

.tekst {
    display: flex;
    align-items: center;
    font-family: poppin;
    position: absolute;
}

.navMenu {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: poppin;
}

.navMenu a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
    color: #80aad0;
}

@media only screen and (min-width: 500px) {
    .header-title {
        font-family: poppin;
        font-size: 50px;
        margin-left: 25px;
        margin-top: 25px;
    }
    .header-undertitle {
        font-family: poppin;
        font-size: 15px;
        margin-left: 360px;
    }
    .drone {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 70px;
        margin-top: 300px;
    }
    .drone img {
        width: 40rem;
        z-index: 2;
    }
    .dot {
        position: absolute;
        height: 550px;
        width: 550px;
        background-color: #80aad0;
        border-radius: 50%;
        display: inline-block;
    }
    .tekst {
        display: flex;
        align-items: center;
        margin-top: 230px;
        margin-left: 900px;
        font-family: poppin;
        line-height: 1.6;
    }
    .navMenu {
        position: absolute;
        top: 65px;
        right: 0%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: poppin;
    }
    .navMenu a {
        color: #000000;
        text-decoration: none;
        font-size: 1.0em;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
        width: 100px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .footer {
        font-family: poppin;
        font-size: smaller;
        position: fixed;
        bottom: 0;
        left: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .header-title {
        font-family: poppin;
        font-size: 30px;
        margin-left: 25px;
        margin-top: 25px;
    }
    .header-undertitle {
        font-family: poppin;
        font-size: 9px;
        margin-left: 50px;
    }
    .drone img {
        width: 16rem;
    }
    .dot {
        height: 200px;
        width: 200px;
    }
    .drone {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 85px;
    }
    .tekst {
        display: flex;
        margin-top: 230px;
        font-family: poppin;
        position: absolute;
        line-height: 1.4;
        width: 300px;
        font-size: 13px;
        margin-left: 25px;
    }
    .navMenu {
        position: absolute;
        top: 180px;
        font-family: poppin;
        font-size: 0.7em;
        margin-left: 140px;
    }
    .navMenu a {
        color: #000000;
        text-decoration: none;
        font-size: 0.9em;
        text-transform: uppercase;
        width: 200px;
    }
    .footer {
        font-family: poppin;
        font-size: 10px;
        position: fixed;
        left: 25px;
        bottom: 0;
    }
}