@font-face {
    font-family: 'poppin';
    src: url('font/Poppins-Light.ttf');
}

.header-title {
    font-family: poppin;
    font-size: 50px;
    margin-left: 25px;
    margin-top: 25px;
}

.header-undertitle {
    font-family: poppin;
    font-size: 15px;
    margin-left: 360px;
}

.drone {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    margin-top: 280px;
}

.drone img {
    width: 40rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.dot {
    position: absolute;
    height: 550px;
    width: 550px;
    background-color: #80aad0;
    border-radius: 50%;
    display: inline-block;
}

.tekst {
    display: flex;
    align-items: center;
    margin-top: 200px;
    margin-left: 900px;
    font-family: poppin;
    position: absolute;
}


/* .hvad,
.hvem,
.hvornår,
.hvordan {
    font-family: poppin;
    position: absolute;
} */

.navMenu {
    position: absolute;
    top: 65px;
    left: 65%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: poppin;
}

.navMenu a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 120px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
    color: #80aad0;
}


/* @media only screen and (max-width: 2100px) {
    .navMenu {
        top: 5%;
    }
} */